:root {
  --header__height-80: 80px;
  --intro__height: calc(0.4 * (100vh - 80px));
  --footer__height: calc(0.6 * (100vh - 80px));
  --arrow__btn-side-size: calc(0.06 * (100vh - 100px));

  --main__blue-color: #2b4074;
  --main__white-color: #ffffff;
  --green-gray-color: #476e4d;
  --font-roboto: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  color: var(--main__white-color);
  border: none;
  border-radius: 2px;
}
.container {
  width: 100%;
  max-width: 1440px;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  background-color: var(--main__blue-color);
}
.header__container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6% 0 8%;
}
.btn-menu {
  min-height: 40px;
  min-width: 40px;
  border: none;
  border-radius: 4px;
}

/* Intro */
.intro {
  background: linear-gradient(rgba(95, 95, 95, 0.3), rgba(75, 75, 75, 0.3)), url(/images/bg-img.jpg) right;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.intro__content {
  position: relative;
  height: var(--intro__height);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.intro__title {
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  line-height: 1;
}
.intro__line {
  position: absolute;
  bottom: 28%;
  transform: translateY(28%);
  width: 6rem;
  height: 0.6rem;
  background-color: var(--green-gray-color);
  border: none;
}
.line {
  display: none;
}
.h {
  color: var(--main__white-color);
  font-family: var(--font-roboto);
  font-size: 2.4rem;
  font-weight: 400;
}
.intro__text {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(75%);
}
.intro__btn {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}
.btn,
.p {
  display: none;
  color: var(--main__white-color);
  font-family: var(--font-roboto);
  font-weight: 200;
  font-size: 1.8em;
  justify-content: center;
  align-items: center;
}
.pagination {
  position: absolute;
  top: 90%;
  transform: translateY(-90%);
  display: flex;
  gap: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main__blue-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.dot.active {
  border: 1px solid var(--main__white-color);
  border-color: var(--green-gray-color);
  background-color: transparent;
  transform: scale(1.2);
}

.swipe-arrows {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.left-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--arrow__btn-side-size);
  height: var(--arrow__btn-side-size);
  border: 1px;
  background-color: var(--main__blue-color);
  color: var(--main__white-color);
  border: none;
}
.right-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--arrow__btn-side-size);
  height: var(--arrow__btn-side-size);
  border: 1px;
  background-color: var(--main__white-color);
  color: var(--main__blue-color);
}

/* Promo */
.promo{
background-color: var(--main__blue-color);
display: flex;
justify-content: center;
}
.promo__content {
  height: var(--footer__height);
  background-color: var(--main__blue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
  color: var(--main__white-color);
  gap: 3.6rem;
}
.promo__h {
  text-align: center;
  font-size: 2rem;
}
.promo__p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}
.promo__call-btn{
  color: var(--main__blue-color);
  border: none;
  border-radius: 0.25rem;
  width: 15rem;
  height: 2.8rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}
.promo__text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
