:root {
  --main__blue-color: #2b4074;
  --green-gray-color: #476e4d;
  --main__blue-gradient: linear-gradient(to bottom, rgba(43, 64, 116, 1), rgba(43, 64, 116, 0));
  --main__white-color: #ffffff;

  --container_width_max: 1440px;
  --header_height: 80px;
  --header_height_max: 100px;
  --arrow__btn-side-size: calc(0.06 * (100vh - 100px));

  --services-item-width: 87vw;
  --services-item-height: calc(1.12 * var(--services-item-width));
  --grid__line-color: rgba(128, 128, 128, 0.6);

  --portfolio__picture-height: 78.125vw;
  --portfolio__picture-width: 87.5vw;
  --portfolio__title-height: 37.5vw;
}

html {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--main__white-color);
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  width: 5rem;
  height: 0.66rem;
  background-color: var(--green-gray-color);
  border: none;
  margin: 0;
}

/* TEAM */
.a {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  height: 263.75vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 6.25vw;
  padding-bottom: 12.5vw;
  font-size: 24px;
}
.b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78.125vw;
  /* background-color: aqua; */
}
.b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18.75vw;
  align-items: center;
  width: 100%;
  /* background-color: rgb(0, 255, 85); */
}
.c p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #4a4a4a;
}
.c hr {
  width: 48px;
  height: 8px;
  background-color: var(--main__blue-color);
}
.cd{
  display: flex;
  flex-direction: column;
  gap: 18.75vw;
}
.d {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.d p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
    color: #9b9b9b;
  /* background-color: rgb(255, 0, 179); */
}
.e {
  display: flex;
  justify-content: center;
  align-items: center;
 

  /* background-color: rgb(0, 4, 255); */
}
.e .team__btn {
  width: 230px;
  height: 60px;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  border-radius: 4px;
  background-color: var(--main__blue-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main__white-color);
}
.team__btn:hover {
  /* transform: scale(1.02); */
}