:root {
  --main__blue-color: #2b4074;
  --green-gray-color: #476e4d;
  --main__blue-gradient: linear-gradient(to bottom, rgba(43, 64, 116, 1), rgba(43, 64, 116, 0));
  --main__white-color: #ffffff;

  --container_width_max: 1440px;
  --header_height: 80px;
  --header_height_max: 100px;
  --arrow__btn-side-size: calc(0.06 * (100vh - 100px));
}

html {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--main__white-color);
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  width: 5rem;
  height: 0.66rem;
  background-color: var(--green-gray-color);
  border: none;
  margin: 0;
}

.container {
  max-width: var(--container_width_max);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 960px;
  margin: 0 auto;
}
/* HEADER */
.header {
  height: var(--header_height);
  background-color: var(--main__blue-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.header__logo {
  height: 65px;
}

.header__btn {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8%;
}
.header__btn:hover {
  transform: scale(1.02);
}
/* INTRO */
.intro {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(95, 95, 95, 0.3), rgba(75, 75, 75, 0.3)),
    url('/images/intro_bg_img.jpg') no-repeat center right;
  background-size: cover;
}
.intro h1 {
  position: absolute;
  top: 20%;
  font-size: 28px;
  font-weight: 400;
}
.intro hr {
  position: absolute;
  top: 60%;
}
.intro__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main__blue-color);
  color: var(--main__white-color);
  font-size: 1.5rem;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 0.25rem;
}
.intro__btn,
.intro p {
  position: absolute;
  display: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.intro__pagination {
  position: absolute;
  display: flex;
  gap: 12px;
  top: 90%;
  transform: translateY(-90%);
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main__blue-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.dot__active {
  border: 1px solid var(--main__white-color);
  border-color: var(--green-gray-color);
  background-color: transparent;
  transform: scale(1.2);
}
.swipe-arrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.swipe-arrows i {
  display: none;
  justify-content: center;
  align-items: center;
  width: var(--arrow__btn-side-size);
  height: var(--arrow__btn-side-size);
  background-color: var(--main__blue-color);
  color: var(--main__white-color);
  border: none;
}
.swipe-arrows .fa-chevron-right{
  background-color: var(--main__white-color);
  color: var(--main__blue-color);
}
/* PROMO */
.promo {
  flex: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 100;
  background-color: var(--main__blue-color);
}
.promo h1 {
  font-size: 24px;
  font-weight: 500;
}
.promo p {
  font-size: 16px;  
  line-height: 18px;
  font-weight: 300;
}
.call__btn{
  color: var(--main__blue-color);
  font-size: 18px;
  font-weight: 500;
  height: 4rem;
  width: 17rem;
  border-radius: 0.25rem;
  border: none;
}
.promo__text{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


